<div *ngIf="isLoading" class="loader-padding" fxLayout="column" fxLayoutAlign="center center" style="position:fixed;top:50%;left:50%;"
  style="position:fixed;top:40%;left:45%;">
  <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="!isLoading" style="padding:20px;">

  <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="25px">
    <mat-form-field fxFlex="40%">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <!-- <button type="submit" mat-raised-button color="accent" (click)="exporttoCSV()">Export to Excel</button> -->
  </div>

  <!-- <p>Order List</p> -->
  <mat-table [dataSource]="dataSource" matSort style="width: 100%">
    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef  class="example-first-header-row">No
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index;" >
        {{i+1}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="product_ID">
      <mat-header-cell *matHeaderCellDef mat-sort-header  class="example-first-header-row">Product Id</mat-header-cell>
      <mat-cell *matCellDef="let element" >{{ element.product_ID }}</mat-cell>
    </ng-container>

    

    <ng-container matColumnDef="hsn">
      <mat-header-cell *matHeaderCellDef mat-sort-header  class="example-first-header-row">HSN</mat-header-cell>
      <mat-cell *matCellDef="let element" >{{ element.hsn }}</mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="product_NAME">
      <mat-header-cell *matHeaderCellDef mat-sort-header  class="example-first-header-row">Product Name</mat-header-cell>
      <mat-cell *matCellDef="let element" >{{ element.product_NAME }}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="product_GROUP_NAME">
      <mat-header-cell *matHeaderCellDef mat-sort-header  class="example-first-header-row">Product Group</mat-header-cell>
      <mat-cell *matCellDef="let element" >{{ element.product_GROUP_NAME }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="division_NAME">
      <mat-header-cell *matHeaderCellDef mat-sort-header  class="example-first-header-row">Division Name</mat-header-cell>
      <mat-cell *matCellDef="let element" >{{ element.division_NAME}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="product_COST">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="example-first-header-row">Product Cost</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.product_COST}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="product_TAX1">
      <mat-header-cell *matHeaderCellDef mat-sort-header  class="example-first-header-row">CGST</mat-header-cell>
      <mat-cell *matCellDef="let element" >{{ element.product_TAX1}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="product_TAX2">
      <mat-header-cell *matHeaderCellDef mat-sort-header  class="example-first-header-row">SGST</mat-header-cell>
      <mat-cell *matCellDef="let element" >{{ element.product_TAX2}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading_COST">
      <mat-header-cell *matHeaderCellDef mat-sort-header  class="example-first-header-row">Loading Cost</mat-header-cell>
      <mat-cell *matCellDef="let element" >{{ element.loading_COST }}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="laying_COST">
      <mat-header-cell *matHeaderCellDef mat-sort-header  class="example-first-header-row">Laying Cost</mat-header-cell>
      <mat-cell *matCellDef="let element" >{{  element.laying_COST}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="uom">
      <mat-header-cell *matHeaderCellDef mat-sort-header  class="example-first-header-row">UOM</mat-header-cell>
      <mat-cell *matCellDef="let element" >{{ element.uom}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" style="background:#ffab40"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]">
    </mat-paginator>
</div>
<!-- old product with groups -->
<!-- <div padding *ngFor="let row of product_detail; let i = index">
  <div *ngFor="let group of row.productGroups; let j = index ">
    <table class="example-full-width" border="0">
      <thead style="background:#ffab40" class="example-first-header-row">
      <th>Product Name</th>
      <th>Product Cost</th>
      <th>Loading Cost</th>
      <th>Laying Cost</th>
      <th>CGST</th>
      <th>SGST</th>
      <th>Group Name</th>
      <th>Division Name</th>
      <th>Product Details</th>
      </thead>
      <tbody>
      <tr *ngFor="let product of group.products">
        <td>{{product.product_NAME}} </td>
        <td>{{product.product_COST}} </td>
        <td>{{product.loading_COST}} </td>
        <td>{{product.laying_COST}}</td>
        <td>{{product.product_TAX1}}</td>
        <td>{{product.product_TAX2}}</td>
        <td>{{group.product_GROUP_NAME}}</td>
        <td>{{row.division_NAME}}</td>
        <div *ngIf="product.productDetails?.length > 0">
          <div *ngFor="let item of product.productDetails">
            <td>
              {{item.product_DETAIL_NAME}}
            </td>
          </div>
        </div>
      </tr>
      </tbody>
    </table>
  </div>
</div> -->
