<mat-toolbar color="accent">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <img src="https://s3.ap-south-1.amazonaws.com/bizdaz-images/{{companyId}}.jpg">
    <!-- <a routerLink="/">LOGO</a> -->
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs padding>
    <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li *ngIf="!isAuth">
        <a routerLinkActive="active" routerLink="/signup">Signup</a>
      </li>
      <li *ngIf="!isAuth">
        <a routerLink="/login">Login</a>
      </li>
      <!-- <li *ngIf="isAuth" [ngClass]="{ 'target': isTarget === 'dashboard'  }" (click)="onClickLink('dashboard')"> -->
      <!-- <li *ngIf="isAuth" [ngClass]="{ 'target': isTarget === t  }" (click)="isTarget = t"> -->
      <!-- <a routerLink="/training">Training</a> -->
      <!-- <a routerLinkActive="active" routerLink="/dashboard">Dashboard</a> -->
      <!-- </li> -->

      <li *ngIf="isAuth && role === '1'" [ngClass]="{ 'target': isTarget === 'admin'  }" (click)="onClickLink('admin')">
        <!-- <a routerLink="/training">Training</a> -->
        <a routerLinkActive="active" routerLink="/manage">Admin</a>
      </li>
      <!-- <li *ngIf="isAuth && role === '1'" [ngClass]="{ 'target': isTarget === 'price-check'  }" (click)="onClickLink('price-check')">
        <a routerLinkActive="active" routerLink="/price-check">Price Check</a>
      </li> -->
      <li *ngIf="isAuth && role === '1'" [ngClass]="{ 'target': isTarget === 'employees'  }" (click)="onClickLink('employees')">
        <a routerLinkActive="active" routerLink="/employees">Employees</a>
      </li>
      <li *ngIf="isAuth && role === '1'" [ngClass]="{ 'target': isTarget === 'customers'  }" (click)="onClickLink('customers')">
        <a routerLinkActive="active" routerLink="/customers">Customers</a>
      </li>
      <!-- <li *ngIf="isAuth && role === '1'" [ngClass]="{ 'target': isTarget === 'vehicles'  }" (click)="onClickLink('vehicles')">
        <a routerLinkActive="active" routerLink="/vehicles">Vehicles</a>
      </li> -->
      <li *ngIf="isAuth && role === '1'" [ngClass]="{ 'target': isTarget === 'products'  }" (click)="onClickLink('products')">
        <a routerLinkActive="active" routerLink="/products">Products</a>
      </li>
      <li *ngIf="isAuth && role === '1'" [ngClass]="{ 'target': isTarget === 'orders'  }" (click)="onClickLink('orders')">
        <a routerLinkActive="active" routerLink="/orders">Orders</a>
        <!-- <a routerLinkActive="active" routerLink="/manage">Admin</a> -->
      </li>
      <li *ngIf="isAuth && role === '1'" [ngClass]="{ 'target': isTarget === 'sub-orders'  }" (click)="onClickLink('sub-orders')">
        <a routerLinkActive="active" routerLink="/sub-orders">SubOrders</a>
        <!-- <a routerLinkActive="active" routerLink="/manage">Admin</a> -->
      </li>
      <li *ngIf="isAuth">
        <a style="cursor: pointer" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>