<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <img src="https://s3.ap-south-1.amazonaws.com/bizdaz-images/web/{{companyId}}.png">
    <!-- <a routerLink="/">LOGO</a> -->
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li *ngIf="!isAuth">
        <a routerLinkActive="active" routerLink="/signup">Signup</a>
      </li>
      <li *ngIf="!isAuth">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuth">
        <!-- <a routerLink="/training">Training</a> -->
        <a routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
      </li>
    
      <li *ngIf="isAuth && role === '1'">
        <!-- <a routerLink="/training">Training</a> -->
        <a routerLinkActive="active" routerLink="/manage">Admin</a>
      </li>
    
      <li *ngIf="isAuth && role === '1'">
        <a routerLinkActive="active" routerLink="/orders">Orders</a>
        <!-- <a routerLinkActive="active" routerLink="/manage">Admin</a> -->
      </li>
      <li *ngIf="isAuth">
        <a style="cursor: pointer" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>