<!-- <div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center"> -->
<!-- <section>
    <h1>ACTIVITY</h1>
    <p>Stay active and enjoy better health and more fun!</p>
  </section>
  <section>
    <h1>COMMUNITY</h1>
    <p>Get to know other people who share your passion!</p>
  </section>
  <section>
    <h1>CHALLENGES</h1>
    <p>Never stop! Dive into new challenges every day</p>
  </section> -->
<div padding class="welcome">
  <h1>
  <!-- <h1 style="color:indigo;"> -->
    WELCOME TO SRI RAMAKRISHNA BLUE METALS
  </h1>
  <p>
    Sri Ramakrishna Blue Metals started off its journey 40 years ago, with a vision to get established as the most reliable and
    compliant suppliers of Sand and Aggregates in the construction industry. We are now one of the most preferred material
    suppliers, for construction industry leaders. Two things that we strive to keep consistent are quality and trust, which
    haven’t tampered at all since our inception. We aim to deliver world-class solutions to enhance the building and construction
    industries. Our products stand apart from the rest, as they are: Quality Controlled Reasonable price Available round
    the year Accompany successful project execution
  </p>
  <!-- <h1 style="color:indigo;">OUR PRODUCTS</h1> -->
  <h1>OUR PRODUCTS</h1>
  <p>MINING DIVISION </p>
  <p>M-Sand </p>
  <p>Blue Metals</p>
  <p>CONCERTE DIVISION </p>
  <p>Designer & Concrete Pavers</p>
  <p>Hollow Bricks & Concrete Blocks </p>
  <p>Designer Tiles</p>
</div>