.mat-card {
    padding: 20px;
}
.welcome {
    text-align: center;
  }
  
.card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    /* margin: -20px 15px 0; */
    border-radius: 3px;
    padding: 15px;
    /* background-color: green; */
    color: white;
  }
  .mat-card{
     box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    /* margin: -20px 15px 0; */
    border-radius: 3px;
    padding: 15px;
    /* background-color: blue; */
    /* color: white; */
  }
  .mat-card-header{
     box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    /* margin: -20px 15px 0; */
    border-radius: 3px;
    padding: 15px;
    /* background-color: green; */
    /* color: white; */
    /* text-align:left; */
  }
  
  .example-card {
    max-width: 400px;
  }
  
  .chart-card {
    max-width: 700px;
    height :400px;
  }

  
      .bounds {
        background-color:#ddd;
        /* height :150px; */
      }
      
      .sec1 {
        background: #d81b60;
        /* color:white; */
        /* text-transform: uppercase */
      }
      
      .sec2 {
        background: #00acc1;
        /* color:blue; */
        
      }
      
      .sec3 {
        background:#43a047;
        /* color:white; */
        /* text-transform: uppercase */
      }
      
      .sec4 {
        background: #fb8c00;
        /* color:white; */
        /* text-transform: uppercase */
      }
      
      .sec1, .sec2, .sec3 {
        /* padding-top:20px; */
        /* text-align:center */
    }
    .mat-card-title{
        text-align:center;
        color:grey;
    }
    .title{
        text-align:center;
        color:grey;
}
      .content {
        min-width: 300px;
        /*height: 400px;*/
      }
  
  .mat-chart-content{
      max-width: 650px;
      height :350px;
  }
  
  