<mat-tab-group color="primary" #tabGroup (selectedTabChange)="onLinkClick($event)">
  <mat-tab label="Approved">
    <app-approvedso></app-approvedso>
  </mat-tab>
  <mat-tab label="Loading">
    <app-loading></app-loading>
  </mat-tab>
  <mat-tab label="Weighing">
    <app-weighing></app-weighing>
  </mat-tab>
  <mat-tab label="Transit">
    <app-transit></app-transit>
  </mat-tab>
  <mat-tab label="Delivered">
    <app-delivered></app-delivered>
  </mat-tab>
  <mat-tab label="Completed">
    <app-completed></app-completed>
  </mat-tab>
  <mat-tab label="Deviated">
    <app-deviated></app-deviated>
  </mat-tab>
</mat-tab-group>