<mat-tab-group color="accent" #tabGroup (selectedTabChange)="onLinkClick($event)">
  <mat-tab label="Approved">
    <app-approvedso></app-approvedso>
  </mat-tab>
  <mat-tab label="Loading"></mat-tab>
  <mat-tab label="Weighing"></mat-tab>
  <mat-tab label="Transit"></mat-tab>
  <mat-tab label="Completed"></mat-tab>
  <mat-tab label="Deviated"></mat-tab>
  <!-- <mat-tab label="Planned SubOrders"></mat-tab>
  <mat-tab label="Allocated SubOrders"></mat-tab>
  <mat-tab label="Loaded SubOrders"></mat-tab>
  <mat-tab label="Weighed SubOrders"></mat-tab>
  <mat-tab label="InTransit SubOrders"></mat-tab>
  <mat-tab label="Completed SubOrders"></mat-tab> -->
</mat-tab-group>